lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.DS_Store

pids
results

npm-debug.log
Thumbs.db
desktop.ini

node_modules
examples/client/scripts/vendor
yeoman
nbproject
.sass-cache

downloads
client_build

configuration.js